@use '../../../../scss/abstracts/variables' as v;
@use '../../../../scss/abstracts/mixins' as m;

.student {

  background-repeat: no-repeat;
  background-size: cover;

  &__line {
    margin: 0 auto;
    @include m.displayLine(6rem, v.$color-light);
    
    &--1 {
      margin-bottom: 4rem;
    }

    &--2 {
      transform: rotate(180deg);
      margin-top: 4rem;
    }
  }

  &__container {
    padding: 4rem 2rem;
    background-color: v.$color-extralight;
  }

  &__separator {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: -.5rem;
  }

  &__name {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__text {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    line-height: 1.7;
  }

  &__button {
    width: 100%;

    &-text {
      color: v.$color-white;
    }
  }

}