@use '../../../../scss/abstracts/variables' as v;
@use '../../../../scss/abstracts/mixins' as m;

.students-footer {

  margin-top: 1rem;

  &__type {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: v.$color-brown;
  }

  &__title {
    font-size: 1rem;
  }

}