@use '../../../scss/abstracts/variables' as v;
@use '../../../scss/abstracts/mixins' as m;

.login {

  height: 100vh;
  background-color: v.$color-green-light;;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

}