@use '../abstracts/variables' as v;

.btn {
  padding: 1.5rem 1rem;
  width: 90%;
  transition: all .4s ease-out;
  
  &--green {
    background-color: v.$color-green;
    color: v.$color-white;
    text-transform: uppercase;
    font-family: v.$font-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      background-color: darken( v.$color-white, 30% );
      color: v.$color-white;
    }
  }
}