@use '../abstracts/variables' as v;

.btn {
  padding: 1.3rem;
  width: 90%;
  transition: all .4s ease-out;
  font-size: 1.2rem;
  font-family: v.$font-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  &--green {
    background-color: v.$color-green;
    color: v.$color-white;

    &:hover {
      background-color: darken( v.$color-white, 30% );
      color: v.$color-white;
    }
  }

  &--brown {
    background-color: v.$color-light;
    color: v.$color-text;
  }

}