@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.topbar {
  background-color: v.$color-light;
  box-shadow: 0 3px 3px rgba( 0, 0, 0, .5);
  height: 4.5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 0 1rem;
}