@use '../abstracts/variables' as v;

html {
  font-size: 62.5%;
}

body {
  font-family: v.$font-normal;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1, h2, h3 {
  letter-spacing: 1px;
  font-weight: 600;
  font-family: v.$font-serif;
}

input, textarea, select, button {
  font-family: v.$font-normal;
  font-size: 1.4rem;
  
  &::placeholder {
    font-size: 1.4rem;
    font-family: v.$font-normal;
  }
}

.heading__secondary {
  text-transform: uppercase;
  font-family: v.$font-normal;
  color: v.$color-white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}