@use '../abstracts/variables' as v;

.w-90 {
  width: 90%;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

.df-shadow {
  box-shadow: 0 5px 5px rgb( 0 0 0 / .15);
}

.df-border {
  border: 1px solid v.$color-brown;
}

.mb-4 {
  margin-bottom: v.$gap;
}

.mt-4 {
  margin-top: v.$gap;
}

.section-space {
  padding: 4rem 0;
}

.text-dark {
  color: v.$color-text;
}

.text-wrong {
  color: v.$color-error;
}