@mixin displayLine( $height, $color ) {
  display: block;
  width: 1px;
  height: $height;
  background-color: $color;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color;
    bottom: 0;
    left: 0;
    transform: translateX(-40%);
  }

}

@mixin horizontalScroll() {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  > * {
    scroll-snap-align: center;
  }
}