$font-serif: 'Playfair Display', serif;
$font-normal: 'Montserrat', sans-serif;

$color-text: #0B0B0D;
$color-green-light: #b4bdb5;
$color-green-extralight: #e1e5e1;
$color-green: #a1aca2;
$color-green-dark:#323432;
$color-brown: #8C8072;
$color-alter: #BFB3A4;
$color-light: #D9CDBF;
$color-extralight: #f4f0ec;
$color-white: #FFFFFF;
$color-success: #2b8a3e;
$color-error: #c92a2a;

$gap: 4rem;