$font-serif: 'Playfair Display', serif;
$font-normal: 'Montserrat', sans-serif;

$color-text: #0B0B0D;
$color-green-light: #b4bdb5;
$color-green: #a1aca2;
$color-green-dark:#323432;
$color-brown: #8C8072;
// $color-green: #BFB3A4;
$color-light: #D9CDBF;
$color-white: #FFFFFF;

$gap: 4rem;