@use '../../../../scss/abstracts/variables' as v;
@use '../../../../scss/abstracts/mixins' as m;

.login-center {

  text-align: center;
  padding: 2rem;
  border-top: 1px solid v.$color-brown;
  margin-bottom: 2rem;

  &__text {
    font-size: 1.2rem;
    line-height: 2;
    color: v.$color-brown;
    font-weight: 500;
    letter-spacing: 1px;
  }

}